@import "tailwindcss";


@font-face {
  font-family: "CADTMono";
  src: url("/src/assets/fonts/CADTMonoDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-neutral-100: #f2f2f2;
  --color-neutral-200: #e6e6e6;
  --color-neutral-300: #cccccc;
  --color-neutral-400: #999999;
  --color-neutral-500: #808080;
  --color-neutral-600: #666666;
  --color-neutral-700: #4d4d4d;
  
  --color-brand-primary: #14284C;
  --color-brand-secondary-blue: #3cb4e5;
  --color-brand-secondary-green: #76bc21;
  --color-brand-secondary-yellow: #ffc600;
  --color-brand-secondary-brown: #c68b66;
  --color-brand-secondary-orange: #f88d2a;
  --color-brand-secondary-red: #ff4438;
  --color-brand-secondary-pink: #f97fb5;
  --color-brand-secondary-purple: #b980d0;

  --font-cadt: "CADTMono", monospace;
}



@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: white;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
@layer utilities {
  .animate-chain-drop {
    animation: chainDrop 0.4s ease forwards;
    animation-delay: calc(var(--i) * 0.1s);
  }

  .animate-unroll {
    animation: unroll 0.5s ease forwards;
    transform-origin: top;
  }
  .animate-roll-up {
    animation: rollUp 0.5s ease forwards;
    transform-origin: top;
  }

  @keyframes chainDrop {
    0% {
      opacity: 0;
      transform: translateY(-20px);
      
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes rollUp {
    0% {
      transform: scaleY(1);
      opacity: 1;
      pointer-events: auto;
    }
    100% {
      transform: scaleY(0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  @keyframes unroll {
    0% {
      transform: scaleY(0);
      opacity: 0;
      visibility: visible;
      pointer-events: none;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
      pointer-events: auto;
    }
  }
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility flex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@utility flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@utility flex-col-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}

.footer_col {
  border-left-width: 1px;
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
